.container{
    border: solid white;
    display: block;
    justify-content: center;
    color: white;
    height: 100%;
}
.techImg img{
    width: 150px;
    height: 150px;
    

}
.btndiv{
    align-self: end;
    border: solid white;
}