.home{
  background-size: cover;
}
.ani1{
  width: 8px;
  height: 8px;
  background: rgb(255, 255, 255);
  position: absolute;
  border-radius:2px;
  box-shadow: 1px 1px 10px 1px #FFFF;
  animation: mymove 5s linear infinite;


}
@keyframes mymove {
  0%   {left: 300px;top: 700px; }
  25%  {left: 350px;top: 650px;}
  50%  {left: 400px; top: 400px;}
  75%  {left: 450px; top:200;}
  100% {left: 500px; top:0;}
}
.ani2{
  width: 8px;
  height: 8px;
  background: rgb(255, 255, 255);
  position: absolute;
  border-radius:2px;
  box-shadow: 1px 1px 10px 1px #FFFF;
  animation: mymove2 6s linear infinite;

}
@keyframes mymove2 {
  0%   {left: 350px;top: 50px; }
  10%   {left: 200px;top: 50px; }
  25%  {left: 350px;top: 100px;}
  50%  {left: 400px; top: 400px;}
  75%  {left: 650px; top:200;}
  100% {left: 300px; top:120;}
}
.ani3{
  width: 8px;
  height: 8px;
  background: rgb(255, 255, 255);
  position: absolute;
  border-radius:2px;
  box-shadow: 1px 1px 10px 1px #FFFF;
  animation: mymove3 12s linear infinite;

}
@keyframes mymove3 {
  0%   {left: 40px;top: 75px; }
  10%   {left: 140px;top: 175px; }
  25%  {left: 350px;top: 650px;}
  50%  {left: 40px; top: 200px;}
  75%  {left: 40px; top:200;}
  100% {left: 60px; top:150;}
}
.ani4{
  width: 8px;
  height: 8px;
  background: rgb(255, 255, 255);
  position: absolute;
  border-radius:2px;
  box-shadow: 1px 1px 10px 1px #FFFF;
  animation: mymove4 6s linear infinite;

}
@keyframes mymove4 {
  0%   {left: 780px;top: 75px; }
  10%   {left: 500px;top: 175px; }
  25%  {left: 350px;top: 650px;}
  50%  {left: 40px; top: 200px;}
  75%  {left: 40px; top:600;}
  100% {left: 520px; top:150;}
}
.ani5{
  width: 8px;
  height: 8px;
  background: rgb(255, 255, 255);
  position: absolute;
  border-radius:2px;
  box-shadow: 1px 1px 10px 1px #FFFF;
  animation: mymove5 10s linear infinite;

}
@keyframes mymove5 {
  0%   {left: 700px;top: 705px; }
  10%   {left: 640px;top: 600px; }
  25%  {left: 30px;top: 650px;}
  50%  {left: 40px; top: 200px;}
  75%  {left: 460px; top:205;}
  100% {left: 66px; top:150;}
}
